﻿@{ var rutina = (RutinaUsuario)Model; }

<h1>CREAR RUTINA</h1>
<div class="row">
    <div class="col-6">
        <form action="/Ejercicio/CrearRutina" method="post">

            <div class="form-group">
                <label>Nombre de Rutina</label>
                <input class="form-control" placeholder="Nombre de Rutina" name="Nombre" />
            </div>

            <div class="form-group">
                <label>Nivel de Rutina</label>
                <select name="Tipo" class="form-control">
                    <option value="">-- Selecciona una opcion --</option>
                    @foreach (var item in ViewBag.Tipo)
                    {
        <option value="@item">@item</option>}
                </select>
            </div>

            <button class="btn btn-info">Guardar</button>
        </form>
    </div>
</div>