﻿@{ List<DetalleRutina> detalle = ((List<DetalleRutina>)Model); }

<h1>LISTA DE RUTINAS</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Ejercicio </th>
            <th>Link de Video</th>
            <th>Tiempo </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in detalle)
        {
<tr>
    <td>@item.Ejercicios.Nombre</td>
    <td>@item.Ejercicios.Video</td>
    <td>@item.Tiempo</td>
</tr>
}
    </tbody>
</table>