﻿@{ List<RutinaUsuario> rutinaUsuario = ((List<RutinaUsuario>)Model); }


<h1>LISTA RUTINAS</h1>

<h5>
    <a href="/Ejercicio/CrearRutina" class="btn btn-info"> Crear Rutina </a>
</h5>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de Rutina</th>
            <th>Nivel de Rutina</th>
            <th>Ver Rutina</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in rutinaUsuario)
        {
<tr>
    <td>@item.Nombre</td>
    <td>@item.Tipo</td>
    <td>
        <a href="/Ejercicio/Index?idRutina=@item.Id">Ver</a>
    </td>
</tr>}
    </tbody>
</table>
